body {
  font-family: roboto mono;
  color: #212529;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 0;
  margin-left: 50px;
}
ul {
  margin: 0;
  padding: 0;
  margin-left: 25px;
}
li {
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  margin-left: 25px;
}
hr {
  margin-top: 30px;
  margin-bottom: 30px;
}
.weather-wrapper {
  max-width: 750px;
  margin: 50px auto;
}
.weather-app {
  max-width: 750px;
  margin: 50px auto;
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #cfdbe2;
}
.current-temperature img {
  display: inline-block;
  vertical-align: top;
  height: 60px;
  margin-top: unset;
  width: 60px;
  margin-right: 0px;
  margin-left: 50px;
}
.current-temperature strong {
  font-size: 50px;
  font-weight: 400;
  display: inline-block;
  line-height: 55px;
  vertical-align: top;
  padding-right: 0px;
  margin-right: 0px;
}

.degrees {
  display: inline-block;
  line-height: 24px;
  vertical-align: top;
  font-size: 16px;
  margin-top: 6px;
  margin-left: 0px;
  padding-left: 0px;
}
.current-stats {
  color: #70757a;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
  margin-left: 55px;
}
.celsius {
  text-decoration: none;
}
.wind {
  text-transform: none;
}
.fahrenheit {
  text-decoration: none;
}
.current-temperature .active {
  color: #212529;
  cursor: default;
}
.current-temperature .active:hover {
  text-decoration: none;
}
.weekly-temperature {
  margin-top: 20px;
  text-align: center;
}
.weekly-date {
  font-size: 16px;
  opacity: 0.6;
}
.weekly-units-min {
  opacity: 0.4;
}
.weekly-units {
  font-size: 13px;
}
input {
  margin-bottom: 30px;
}
.button {
  background-color: #e8ddd4;
}
